[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = "*"
delegator-py = "*"
toml = "*"
pipenv = {editable = true, git = "https://github.com/pypa/pipenv.git"}
starlette = {editable = true, git = "https://github.com/encode/starlette"}

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
